body{
    overflow-x: hidden;
}
.badge{
    background-color: rgb(67, 67, 67);
    font-size: medium;
    font-weight: 400;
}
.self{
    height: 50%;
}
.photo{
    margin-top: 0px;
    margin-left: 170px;
    height: 400px;
    width: 400px;
}

.hirebtn{
    background-color: orange;
    border-radius: 5%;
}
.lang1{
    background-color: rgb(231, 159, 92);
}
.lang2{
    background-color: rgb(225, 102, 26);
}
.lang3{
    background-color: rgb(53, 52, 52);
}
.lang4{
    background-color:  grey;
}
.aca{
    overflow-x: auto;
    width: 100%;
    text-align: left;
    margin-left: 10px;
   
}
.carousel-item{
    height: 400px;
}
.edlogo{
    height: 10%;
    width: 10%;
}
.icon-link{
    color: inherit;
  text-decoration: none;
}
.card-header{
    background-color: rgb(249, 163, 92);
}
.card{
    height: 400px;
}

.spinner div {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid #ffffff;
    background: rgb(255, 255, 255, 0.9);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.9);
    text-align: center;
    line-height: 250px;
    font-size: 100px;
}

.spinner .face1 { 
    transform: translateZ(60px);
}
.spinner .face2 { 
    transform: rotateY(90deg) translateZ(60px); 
}
.spinner .face3 { 
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px); 
}
.spinner .face4 { 
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px); 
}
.spinner .face5 { 
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px); 
}
.spinner .face6 { 
    transform: rotateX(-90deg) translateZ(60px); 
}

.spinner {
    animation: spincube 15s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-origin: 60px 60px 0;
}

@keyframes spincube {
    16%      { transform: rotateY(-90deg); }
    33%      { transform: rotateY(-90deg) rotateZ(90deg); }
    50%      { transform: rotateY(180deg) rotateZ(90deg); }
    66%      { transform: rotateY(90deg) rotateX(90deg); }
    83%      { transform: rotateX(90deg); }
}

@media only screen and (max-width: 786px) {
    .container{
        width: 100%;
    }
    .carousel-item{
        height: auto;
    }
    .reorder {
        display: flex;
        flex-direction: column;
      }
      #side_panel{
        order: 2;
      }
    .projects{
        margin-left: 0%;
        border-collapse: collapse ;
    }
    .icon-link{
        margin-bottom: auto;
    }
}