.badge{
    background-color: rgb(67, 67, 67);
    font-size: medium;
    font-weight: 400;
}
.self{
    height: 50%;
}
.photo{
    margin-top: 0px;
    margin-left: 170px;
    height: 400px;
    width: 400px;
}

.hirebtn{
    background-color: orange;
    border-radius: 5%;
}
.lang1{
    background-color: rgb(231, 159, 92);
}
.lang2{
    background-color: rgb(225, 102, 26);
}
.lang3{
    background-color: rgb(53, 52, 52);
}
.lang4{
    background-color:  grey;
}
.aca{
    overflow-x: auto;
    width: 100%;
    text-align: left;
    margin-left: 10px;
   
}
.carousel-item{
    height: 400px;
}

.icon-link{
    color: inherit;
  text-decoration: none;
}
.card-header{
    background-color: rgb(249, 163, 92);
}
.card{
    height: 230px;
}

@media only screen and (max-width: 786px) {
    .container{
        margin: 10px;
    }
    .carousel-item{
        height: auto;
    }
    .reorder {
        display: flex;
        flex-direction: column;
      }
      #side_panel{
        order: 2;
      }
    
    .aca table{
        max-width: 100%;
        overflow-x: auto;
        border: 1px solid rgb(107, 106, 106);
        border-collapse: collapse ;
        
    }
    .aca th,
    .aca td{
        border: 1px solid rgb(120, 119, 119);
        padding: 10px;
    }
    .projects{
        margin-left: 0%;
        border-collapse: collapse ;
    }
}